.primary {
  color: white;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}